<html>

<head>
    {% block header %}
    {% endblock header %}
</head>

<body>
    <!-- Menubar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>


                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        {% for page in conf.links %}
                        <li><a href="{{ page.link | safe  }}">{{ page.text }}</a>
                            {% endfor %}
                    </ul>
                    <ul class="nav pull-right">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Menubar -->
    <div class="container-fluid" id="container-fluid">
        <!--Body content-->
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span8">

                {% block body %}
                {% endblock body %}
            </div>
        </div>
    </div>
    </div>
</body>

</html>