{% extends "base.html" %}
{% block header %}
<title>{{ conf.title }}</title>
{% endblock header %}
{% block body %}

{% for post in posts %}
<div class="postbox">
    {% if main %}
    <h1><a href="posts/{{ post.slug }}.html">{{ post.title }}</a></h1>
    {% else %}
    <h1><a href="../posts/{{ post.slug }}.html">{{ post.title }}</a></h1>
    {% endif %}
    <small>
        Posted: {{ post.sdate }}
    </small>
    <hr>
    {% if post.excerpt %}
        {{ post.excerpt | safe }}
        {% if main %}
        <strong><a href="posts/{{ post.slug }}.html">Read more</a></strong>
        {% else %}
        <strong><a href="posts/{{ post.slug }}.html">Read more</a></strong>
        {% endif %}
    {% else %}
        {{ post.body | safe }}
    {% endif %}

</div>
{% endfor %}
<ul class="pager">
    {% if NextF %}
    {% if NextLast %}
    <li class="previous">
        <a href="index.html">Newer posts</a>
    </li>
    {% else %}
    <li class="previous">
        <a href="index-{{ Next }}.html">Newer posts</a>
    </li>
    {% endif %}
    {% endif %}
    {% if PreviousF %}
    <li class="next">
        <a href="index-{{ Previous }}.html">Older posts</a>
    </li>
    {% endif %}
</ul>
{% endblock body %}